.minecraft/.bobby
.minecraft/.fabric
.minecraft/resourcepacks/everything_block
.minecraft/.mixin.out
.minecraft/chesttracker
.minecraft/coremods
.minecraft/data
.minecraft/downloads
.minecraft/ESM
.minecraft/essential
.minecraft/logs
.minecraft/moddata
.minecraft/ModTranslations
.minecraft/replay_recordings
.minecraft/screenshots
.minecraft/renders
.minecraft/XaeroWorldMap
.minecraft/server-resource-packs
.minecraft/XaeroWaypoints_BACKUP032021
.minecraft/command_history.txt
.minecraft/realms_persistence.json
.minecraft/servers.dat_old
.minecraft/servers.essential.dat
.minecraft/usercache.json
.minecraft/saves
.minecraft/config/worldedit/.archive-unpack
libraries
