completedTutorials=[
    introduction,
    "magic_select_tool",
    selection,
    "box_select_tool"
]
customDowngradeSuggestions=[]
globalScale=1
lastTranslationCount=33768
openEditorWindowTypes=[
    tools,
    "tool_options",
    palette,
    "active_block",
    history,
    "world_properties",
    clipboard,
    "target_info"
]
rootEditorPalette {
    blocks=[]
}
savedCustomTheme="ASel0AAAlJbUd1aURhcmsAAA=="
showCloseWindowButton=false
shownIntroduction=true
